<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.GetRecordMapper">

    <resultMap id="getMap" type="com.example.entity.GetRecord">
        <id property="id" column="id"/>
        <result property="getTime" column="getTime"/>
        <result property="getData" column="getData"/>
    </resultMap>

    <insert id="insert" parameterType="com.example.entity.GetRecord">
        insert into getrecord( getTime, getData )
        values( #{record.getTime}, #{record.getData} )
    </insert>

    <select id="getHistory" resultMap="getMap">
        select * from getrecord where getTime like #{date} limit 1
    </select>
</mapper>
